name: Release PR

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - labeled

jobs:
  build:
    # We want to build artifacts only if the `upload to s3` label is applied
    # Only intra-repo PRs are allowed to have PR artifacts uploaded
    # We only want to trigger once the upload once in the case the upload label is added, not when any label is added
    if: |
      github.event.pull_request.head.repo.full_name == 'DeterminateSystems/magic-nix-cache'
      && (
        (github.event.action == 'labeled' && github.event.label.name == 'upload to s3')
        || (github.event.action != 'labeled' && contains(github.event.pull_request.labels.*.name, 'upload to s3'))
      )
    uses: ./.github/workflows/build.yaml
    secrets: inherit

  release:
    needs: build
    concurrency: release
    runs-on: ubuntu-latest
    permissions:
      id-token: write # In order to request a JWT for AWS auth
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create the artifacts directory
        run: rm -rf ./artifacts && mkdir ./artifacts

      # aarch64-darwin
      - uses: ./.github/actions/download-persist
        with:
          arch: ARM64
          os: macOS

      # x86_64-linux
      - uses: ./.github/actions/download-persist
        with:
          arch: X64
          os: Linux

      # aarch64-linux
      - uses: ./.github/actions/download-persist
        with:
          arch: ARM64
          os: Linux

      - uses: DeterminateSystems/push-artifact-ids@main
        with:
          s3_upload_role: ${{ secrets.AWS_S3_UPLOAD_ROLE }}
          bucket: ${{ secrets.AWS_S3_UPLOAD_BUCKET }}
          directory: ./artifacts
          ids_project_name: magic-nix-cache
          ids_binary_prefix: magic-nix-cache
