name: Release Branch

on:
  push:
    branches:
      # NOTE: make sure any branches here are also valid directory names,
      # otherwise creating the directory and uploading to s3 will fail
      - "main"

jobs:
  build:
    uses: ./.github/workflows/build.yaml
    secrets: inherit

  release:
    needs: build
    concurrency: release
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write # In order to request a JWT for AWS auth
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_S3_UPLOAD_ROLE }}
          aws-region: us-east-2

      - name: Create the artifacts directory
        run: rm -rf ./artifacts && mkdir ./artifacts

      # aarch64-darwin
      - uses: ./.github/actions/download-persist
        with:
          arch: ARM64
          os: macOS

      # x86_64-linux
      - uses: ./.github/actions/download-persist
        with:
          arch: X64
          os: Linux

      # aarch64-linux
      - uses: ./.github/actions/download-persist
        with:
          arch: ARM64
          os: Linux

      - uses: DeterminateSystems/push-artifact-ids@main
        with:
          s3_upload_role: ${{ secrets.AWS_S3_UPLOAD_ROLE }}
          bucket: ${{ secrets.AWS_S3_UPLOAD_BUCKET }}
          directory: ./artifacts
          ids_project_name: magic-nix-cache
          ids_binary_prefix: magic-nix-cache
